/* Estilos del popup */
.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../imagenes/fondo2.jpg'); /* Imagen de fondo */
    z-index: 10000;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .popup-content h2 {
    margin-bottom: 20px;
  }
  
  .popup-content button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #0074ff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .popup-content button:hover {
    background-color: #005bb5;
  }